* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#main-nav a {
    color: #f6f7f8;
    background: #254441;
    display: block;
    height: 64px;
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background 0.4s;
}

#main-nav a:hover {
    background: #305753;
}

#main-nav ul {
    list-style: none;
    display: flex;
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li {
    display: block;
    top: 0;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li {
    position: relative;
}

.submenu li:hover .submenu-2 li {
    display: block;
}

.submenu-2 li {
    display: none;
}

.submenu-2 {
    display: flex;
    flex-direction: column;
    position:  absolute;
    top: 0;
    left: 100%;
    width: 100%;
}

.arrow {
    margin-left: 8px;
    color: #eee;
    font-size: 12px;
}

h1 {
  font-size: 72px;
  font-weight: 300;
  font-family: Poppins; 
  color: #ffffff;
}

section {
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(bgk-2.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}